@font-face {
  font-family: 'stopwatch';
  src: url("./assets/fonts/stopwatch.eot?");
  src: url("./assets/fonts/stopwatch.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/stopwatch.ttf?") format("truetype"), url("./assets/fonts/stopwatch.woff?") format("woff"), url("./assets/fonts/stopwatch.svg?#stopwatch") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stopwatch' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-handpalm:before {
  content: "\e900";
  color: #fff; }

.ic-minus:before {
  content: "\e904";
  color: #fff; }

.ic-moon:before {
  content: "\e905";
  color: #c4c4cc; }

.ic-play:before {
  content: "\e906";
  color: #fff; }

.ic-scroll:before {
  content: "\e907";
  color: #fff; }

.ic-timer:before {
  content: "\e908";
  color: #fff; }

.ic-vector:before {
  content: "\e909";
  color: #fff; }

.btn-play-default, .btn-play-hover, .btn-play-disabled, .btn-stop-default, .btn-stop-hover {
  width: 648px;
  height: 64px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF; }

.btn-play-default {
  background-color: #015F43; }

.btn-play-hover {
  background-color: #00875F; }

.btn-play-disabled {
  background-color: #00B37E; }

.btn-stop-default {
  background-color: #AB222E; }

.btn-stop-hover {
  background-color: #7A1921; }

* {
  box-sizing: border-box;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121214; }

.timer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;
  height: 740px;
  border-radius: 8px;
  background-color: #202024; }

.number-box {
  display: flex;
  margin-bottom: 56px; }

.number {
  width: 128px;
  height: 198px;
  border-radius: 8px;
  background-color: #323238; }

.number:nth-child(1) {
  margin-right: 16px; }

.number:nth-child(2) {
  margin-right: 104px; }

.number:nth-child(3) {
  margin-right: 16px; }

.ic-play {
  margin-right: 8px;
  font-weight: 700; }

.ic-handpalm {
  margin-right: 8px;
  font-weight: 700; }
