@font-face {
  font-family: 'stopwatch';
  src: url("./assets/fonts/stopwatch.eot?");
  src: url("./assets/fonts/stopwatch.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/stopwatch.ttf?") format("truetype"), url("./assets/fonts/stopwatch.woff?") format("woff"), url("./assets/fonts/stopwatch.svg?#stopwatch") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stopwatch' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-handpalm:before {
  content: "\e900";
  color: #fff; }

.ic-minus:before {
  content: "\e904";
  color: #fff; }

.ic-moon:before {
  content: "\e905";
  color: #c4c4cc; }

.ic-play:before {
  content: "\e906";
  color: #fff; }

.ic-scroll:before {
  content: "\e907";
  color: #fff; }

.ic-timer:before {
  content: "\e908";
  color: #fff; }

.ic-vector:before {
  content: "\e909";
  color: #fff; }

.play-btn, .stop-btn, .reset-btn {
  width: 271px;
  height: 64px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF; }

.play-btn {
  background-color: #00875F; }
  .play-btn:hover {
    background-color: #015F43; }
  .play-btn:disabled {
    opacity: 0.7; }

.stop-btn {
  background-color: #AB222E; }
  .stop-btn:hover {
    background-color: #7A1921; }

.reset-btn {
  background-color: #0064FF; }
  .reset-btn:hover {
    background-color: #0066ff93; }

* {
  box-sizing: border-box;
  text-align: center;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121214; }

.timer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;
  height: 740px;
  border-radius: 8px;
  background-color: #202024; }

.number-box {
  display: flex;
  position: relative;
  margin-bottom: 56px;
  font-family: "Roboto Mono", monospace;
  font-size: 160px;
  color: #FFFFFF; }

.number {
  width: 128px;
  height: 198px;
  border-radius: 8px;
  background-color: #323238;
  line-height: 1.2; }

.one {
  margin-right: 16px; }

.two {
  margin-right: 104px; }

.three {
  margin-right: 16px; }

.circle-one {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00875F;
  position: absolute;
  left: 50%;
  top: 65px;
  transform: translate(-50%); }

.circle-two {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00875F;
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translate(-50%); }

.button-box {
  display: flex;
  justify-content: space-between; }

.ic-play {
  margin-right: 8px;
  font-weight: 700; }

.ic-handpalm {
  margin-right: 8px;
  font-weight: 700; }

.ic-timer {
  margin-right: 8px;
  font-weight: 700; }
