@import './constants/typography';
@import './constants/colors';

@import './base/fonts';

@import './modules/buttons';

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $grey1;
}

.timer-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 740px;
    border-radius: 8px;
    background-color: $grey2;
}

.number-box {
    display: flex;
    position: relative;
    margin-bottom: 56px;
    font-family: $font-roboto-mono;
    font-size: $font-size-160;
    color: $white;
}

.number {
    width: 128px;
    height: 198px;
    border-radius: 8px;
    background-color: $grey3;
    line-height: 1.2;
}

.number:nth-child(1) {
    margin-right: 16px;
}

.number:nth-child(2) {
    margin-right: 104px;
}

.number:nth-child(3) {
    margin-right: 16px;
}

.circle-one {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $green;
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%);
}

.circle-two {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $green;
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%);
}

.ic-play {
    margin-right: 8px;
    font-weight: 700;
}

.ic-handpalm {
    margin-right: 8px;
    font-weight: 700;
}