@import './constants/typography';
@import './constants/colors';

@import './base/fonts';

@import './modules/buttons';

* {
    box-sizing: border-box;
    margin: 0;
}

.ic-play {
    margin-right: 8px;
    font-weight: 700;
}

.ic-handpalm {
    margin-right: 8px;
    font-weight: 700;
}